@import 'tailwindcss';

@theme {
  --color-brand-red: #ee0000;
  --color-brand-red-dark: #a60000;
  --color-brand-red-light: #fce3e3;

  --color-blue-10: #e0f0ff;
  --color-blue-50: #0066cc;
  --color-blue-70: #003366;

  --color-green-10: #e9f7df;
  --color-green-50: #63993d;

  --color-yellow-10: #fff4cc;
  --color-yellow-30: #ffcc17;

  --color-red-orange-50: #f0561d;

  --color-teal-10: #daf2f2;
  --color-teal-50: #37a3a3;

  --color-gray-10: #f2f2f2;
  --color-gray-20: #e0e0e0;
  --color-gray-30: #c7c7c7;
  --color-gray-50: #707070;
  --color-gray-95: #151515;
}
